.container {
  width: 50%;
  border: 1px solid grey;
  border-radius: 5px;
  -webkit-box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  .title {
    text-align: center;
    .dialogSum {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
      .sumTitle,
      .absolutSum,
      .relativeSum {
        padding: 0.5em;
      }
    }
  }
}
